@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main section h1{
    font-size: 30px;
    text-align: center;
}

main section figure{
    text-align: center;
}

main section figure img{
    padding: 30px;
    padding-left: 200px;
}

main section{
    display: block;
    height: auto;
    justify-content: space-between;
    text-align: justify;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 15px;
}

#ptext{
    padding-left: 200ṕx;
}

#tabletext{
    text-align: center;
    padding-left: 250px;
}

table thead th{
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}

table tbody th{
    background-color: gray;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}
