@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main h1{
    font-size: 30px;
    text-align: center;
}

main figure{
    text-align: center;
}

main figure img{
    padding: 30px;
}

main{
    display: block;
    height: auto;
    justify-content: space-between;
    text-align: justify;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 15px;
}

article{
    text-align: center;
}

table{
    text-align: center; 
    padding-left: 450px;
}
table caption{
    text-align: center;
    padding-left: 450px;
}

table thead th{
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}

table tbody th{
    background-color: gray;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}
