@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/*todos monteserrat se quiserem: @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/*
main aside{
    width: 49%;
    margin-left: 1%;
    height: 15vw;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    padding-right: 10px;
}

main aside ul{
    list-style: none;
    float: right;
    list-style-type: square;
    padding-top: 15px;
}

main aside ul li{
    height: 50px;
}

main aside ul li a{
    text-decoration: wavy;
}

main aside ul li:hover{
    text-decoration: underline;
    color: black;
}*/

main section{
    display: block;
    border-right: 1px solid #ccc;
    height: auto;
    justify-content: space-between;
    text-align: justify;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

main section img{
    padding: 30px;
    padding-left: 100px;
}

main section h1{
    font-size: 30px;
}

main table thead tr th{
    padding: 5px;
}

main table tbody tr th{
    padding: 5px;
    font-weight: 300;
}
