@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: block;
    height: auto;
    justify-content: space-between;
    text-align: justify;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

main ul{
    padding-left: 25px;
}

main ul li{
    padding: 5px;
    list-style-type: square;
}

main h1{
    font-size: 30px;
    text-align: center;
}

main figure{
    text-align: center;
}

main figure img{
    padding: 30px;
}