<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/estat.css">

        <title>Estatisticas | Covid-19</title>
    </head>
    <body>

        <div>
            <header>
                <figure>
                    <a href="index.html"><img src="../static/img/—Pngtree—cartoon ban corona virus illustration_5324392.png" alt="Covid-19" width="50px" height="50px"></a>
                </figure>
                <h1>Covid-19</h1>
            </header>
    
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sobre.html">Sobre o Virus</a></li>
                    <li><a href="sinto.html">Sintomas</a></li>
                    <li><a href="preve.html">Prevenção</a></li>
                    <li><a href="trans.html">Transmissão</a></li>
                </ul>
            </nav>
    
        </div>

        <main>
            
                <h1>Estatísticas do coronavirus no Brasil</h1>
 
                <br><br>
 
                <figure>
                   <img src="../static/img/estatistica-e1563377495747.jpg" alt="imagem" height="430" width="640px">
                </figure>
 
                <br><br>
                    
                <article>
                    <table>

                        <caption>Tabela com algumas estatísticas da Covid-19 em alguns estados do Brasil:</caption>
    
                        <thead>
                           <tr>
                               <th>Estados:</th>
                               <th>Confirmados:</th>
                               <th>Mortes:</th>
                            </tr>
                        </thead>
      
      
                          <tbody>
      
                              <tr>
                                  <th>Minas Gerais</th>
                                  <th>1.827 casos confirmados</th>
                                  <th> 82 mortes</th>
                              </tr>
      
      
                              <tr>
                                  <th>São Paulo</th>
                                  <th>28.698 casos confirmados</th>
                                  <th> 2.375 mortes</th>
                              </tr>
      
                              <tr>
                                  <th>Rio de Janeiro</th>
                                  <th> 9.453 casos confirmados</th>
                                  <th>854 mortes</th>
                              </tr>
                                  
      
                              <tr>
                                  <th>Goiás</th>
                                  <th>781 casos confirmados</th>
                                  <th>29 mortes</th>
                              </tr>
      
                              <tr>
                                  <th> Rio Grande do Norte</th>
                                  <th>1.177 casos confirmados</th>
                                  <th>56 mortes</th>
                              </tr>
                                  
      
                              <tr>
                                  <th> Rio Grande do Sul</th>
                                  <th>1.466 casos confirmados</th>
                                  <th>51 mortes</th>
                              </tr>
                          </tbody>
                      </table>
                </article>

        </main>

        <footer>
            <p>Copyright &copy; 2020 por Beatriz, Glaucia, Julio e Pedro.</p>
        </footer>

        <p id="volteotopo"><a href="#top">Voltar o topo</a></p>

    </body>
</html>