<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/home.css">

        <title>Home | Covid-19</title>
    </head>
    <body>
        <div>
            <header>
                <figure>
                    <a href="index.html"><img src="../static/img/—Pngtree—cartoon ban corona virus illustration_5324392.png" alt="Covid-19" width="50px" height="50px"></a>
                </figure>
                <h1 id="top">Covid-19</h1>
            </header>
    
            <nav>
                <ul>
                    <li><a href="sobre.html">Sobre o Virus</a></li>
                    <li><a href="sinto.html">Sintomas</a></li>
                    <li><a href="preve.html">Prevenção</a></li>
                    <li><a href="trans.html">Transmissão</a></li>
                    <li><a href="estat.html">Estatisticas</a></li>
                </ul>
            </nav>
    
        </div>

        <main>
            <section>
                
            </section>

            <aside>
                
            </aside>
        </main>
        
        <footer>
            <p>Copyright &copy; Beatriz, Glaucia, Julio e Pedro.</p> 
        </footer>
        <a href="#top">Volte para o topo</a>

    </body>
</html>