<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/index.css">

        <title>Home | Covid-19</title>
    </head>
    <body>
        <div>
            <header>
                <figure>
                    <a href="index.html"><img src="../static/img/—Pngtree—cartoon ban corona virus illustration_5324392.png" alt="Covid-19" width="50px" height="50px"></a>
                </figure>
                <h1 id="top">Covid-19</h1>
            </header>
    
            <nav>
                <ul>
                    <li><a href="sobre.html">Sobre o Virus</a></li>
                    <li><a href="sinto.html">Sintomas</a></li>
                    <li><a href="preve.html">Prevenção</a></li>
                    <li><a href="trans.html">Transmissão</a></li>
                    <li><a href="estat.html">Estatisticas</a></li>
                </ul>
            </nav>
    
        </div>

        <main>
                <h1>Coronavírus: Introdução</h1>

                <br><br>

                <figure>
                    <img src="../static/img/index.jpg" alt="">
                </figure>

                <p> Você está fazendo alguma coisa, e do nada se pergunta:</p>

                <br><br>

                <ul> 
                    <li>Oque é o <a href="sobre.html">corona vírus?</a></li>
                    <li>Oque é a <a href="sobre.html">covid-19?</a></li>
                    <li>Quais são os <a href="sobre.html">relatos sobre essa doença?</a></li>
                    <li>Da onde teve a sua <a href="sobre.html">origem?</a></li>
                    <li>Como ocorre a <a href="trans.html">transmissão?</a></li>
                    <li>Quais são os <a href="sinto.html">sistomas?</a></li>
                    <li>Como <a href="preve.html">prevenir?</a></li>
                    <li>Quais são as <a href="estat.html">estatística aqui no Brasil?</a></li>
                </ul>

                <br><br>

               <p>A seguir, nas páginas, veremos cada um desses tópicos e com certeza tiraremos as suas dúvidas sobre essa questão do covid-19</p>

        </main>
        
        <footer>
            <p>Copyright &copy; 2020 por Beatriz, Glaucia, Julio e Pedro.</p> 
        </footer>
  
        <p id="volteotopo"><a href="#top">Voltar o topo</a></p>

    </body>
</html>