<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/preve.css">

        <title>Prevenção | Covid-19</title>
    </head>
    <body>

        <div>
            <header>
                <figure>
                    <a href="index.html"><img src="../static/img/—Pngtree—cartoon ban corona virus illustration_5324392.png" alt="Covid-19" width="50px" height="50px"></a>
                </figure>
                <h1>Covid-19</h1>
            </header>
    
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sobre.html">Sobre o Virus</a></li>
                    <li><a href="sinto.html">Sintomas</a></li>
                    <li><a href="trans.html">Transmissão</a></li>
                    <li><a href="estat.html">Estatisticas</a></li>
                </ul>
            </nav>
        </div>

        <main>
            <section>

                <h1>Como se proteger do coronavírus?</h1>

                <br><br>

                <p>Atualmente, não há uma vacina para previnir o coronavírus (COVID-19). E nem algum tratamento especifico, então a melhor maneira de combater o coronavirus e por medidas de prevenção.</p>

                <br><br>
 
               
                <figure>
                    <img src="../static/img/preve.png" alt="imagem">
                </figure>
                  

                <br><br>

                <h2 style="text-align: center;"> <a href="#ofazer">O que fazer</a> x <a href="#onaofazer">O que não fazer</a></h2>

                <br><br>

                <h2 id="ofazer">O que Fazer:</h2>

                <br><br>

                <ul>
                    <li><h3>Lavar as mãos frequentemente por 20 segundos com água e sabão ou higienizá-las com álcool em gel</h3></li>


                    <br>
                    <p>
                        O ato de lavar as mãos, embora pareça banal, protege a saúde humana de praticamente todos os agentes patogênicos, conforme recomendação de varios medicos.
                    </p>
                    <br>

                    <li><h3>Cobrir o nariz e a boca com um lenço ou o cotovelo ao tossir e espirrar</h3></li>


                    <br>
                    <p>
                        O simples ato de cobrir o nariz e a boca ao tossir e espirrar pode evitar que o virus se espalhe e contamine mais pessoas.
                    </p>
                    <br>

                    <li><h3>Evitar contato próximo (dois metro de distância) com pessoas que não estejam bem</h3></li>


                    <br>
                    <p>
                        Manter distancia e evitar contato corporal pode empedir que o virus chegue ate você ou vá ate outra pessoas.
                    </p>
                    <br>

                    <li><h3>Ficar em casa e se isolar das outras pessoas que moram com você caso apresente os sintomas da doença</h3></li>


                    <br>
                    <p>
                        O isolamento social e essencial em caso de supeita de Covid-19, principalmente para evitar e disseminação da doença.
                    </p>
                    <br>

                </ul>

                <br><br>

                <h2 id="onaofazer">O que não fazer.</h2>

                <br><br>

                <ul>
                    <li><h3>Tocar os olhos, nariz ou boca sem estar com as mãos limpas</h3></li>

                    <br>
                    <p>
                        Talvez você não tenha contraido o vírus ainda, mas estaja com ele presente nas mãos.
                    </p>
                    <br>

                    <li><h3>Ir ao hospital diante de qualquer sintoma</h3></li>

                    <br>
                    <p>
                        Não custa repetir a orientação do Ministério da Saúde e dos especialistas: a maioria dos casos de Covid-19 não tem manifestações severas nem ameaça a vida. Desse modo, a recuperação pode ocorrer em casa, lembrando, claro, de se evitar ao máximo contato com outros familiares e amigos. Além disso, outros vírus por trás de sintomas respiratórios estão em circulação, caso dos causadores da gripe e do resfriado comum.
                        <br><br>
                        Contudo, é fundamental procurar o atendimento médico se houver febre, falta de ar, fadiga excessiva ou o agravamento de sintomas como tosses e dores no corpo. O governo está capacitando e atualizando os profissionais de pronto-atendimentos para agilizar a triagem e encaminhar os casos realmente suspeitos para acompanhamento adequado.
                    </p>
                    <br>

                    <li><h3>Estocar comida ou outros artigos</h3></li>

                    <br>
                    <p>
                        O governo brasileiro já divulgou que, pelos cálculos atuais, não enfrentaremos desabastecimento de alimentos. Não há, portanto, motivo para ficar em pânico e montar um estoque de comida, artigos médicos e afins em casa. Inclusive porque muitos itens têm prazo de validade.
                        <br><br>
                        Mesmo que todo o país entre em regime de quarentena, saídas para comprar mantimentos serão permitidas. Certifique-se, nesse período, de estruturar uma dieta equilibrada — a saúde vai sofrer se você largar mão de vegetais e viver à base de embutidos, congelados e outros produtos industrializados — e não compre em excesso itens que poderão faltar aos outros. Precisamos pensar coletivamente.
                    </p>
                    <br>

                    <li><h3>Comprar remédios para prevenir ou tratar a Covid-19 em casa</h3></li>

                    <br>
                    <p>
                        O desabastecimento de medicamentos como cloriquina e hidroxicloriquina — prescritos para o tratamento de malária e doenças autoimunes — acendeu esse alerta. Já tem gente comprando drogas que supostamente conteriam a infecção pelo novo coronavírus. Erro grave!
                        <br><br>
                        Esses remédios estão em fase de estudo de emergência e ainda não há provas de que funcionam para essa finalidade. A Sociedade Brasileira de Infectologia ressalta que, até o momento, não há medicação comprovadamente segura e eficaz contra a Covid-19. O uso se restringe a ambiente hospitalar e em caráter experimental.
                        <br><br>
                        Aliás, não existem evidências de que nenhum remédio previna a infecção. Assim como chás e suplementos vitamínicos.
                    </p>
                    <br>

                    <li><h3>Compartilhar tudo que recebe nas Redes Sociais</h3></li>

                    <br>
                    <p>
                        As redes sociais têm exercido um papel positivo e outro negativo em meio à pandemia. Se por um lado ajudam a disseminar informações corretas e atualizar a população, por outro replicam conteúdos fajutos ou sem embasamento científico.
                        <br><br>
                        A primeira regra em tempos de coronavírus é: verifique a origem do texto, do vídeo ou do áudio antes de acreditar ou sair compartilhando. Priorize o material elaborado pelo Ministério da Saúde e pelos veículos de comunicação qualificados. E desconfie de qualquer solução milagrosa.
                        <br><br>
                        Um estudo já clássico do Instituto de Tecnologia de Massachussets descobriu que uma notícia falsa tem uma probabilidade 70% maior de ser compartilhada. Cuidado com mensagens apocalípticas, mágicas ou fora de contexto. Na dúvida, não passe adiante.
                    </p>
                    <br>

                </ul>

                <br><br>

            </section>
        </main>

        <footer>
            <p>Copyright &copy; 2020 por Beatriz, Glaucia, Julio e Pedro.</p>
        </footer>

        <p id="volteotopo"><a href="#top">Voltar o topo</a></p>

    </body>
</html>