<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/preve.css">

        <title>Prevenção | Covid-19</title>
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="sobre.html">Sobre o Virus</a></li>
                <li><a href="sinto.html">Sintomas</a></li>
                <li><a href="trans.html">Transmissão</a></li>
                <li><a href="estat.html">Estatisticas</a></li>
            </ul>
        </nav>

        <main>
            
        </main>

        <footer>
            <p>Copyright &copy; Beatriz, Glaucia, Julio e Pedro.</p>
        </footer>

    </body>
</html>