<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/sobre.css">

        <title>Sobre o Virus | Covid-19</title>
    </head>
    <body>

        <div>
            <header>
                <figure>
                    <a href="index.html"><img src="../static/img/—Pngtree—cartoon ban corona virus illustration_5324392.png" alt="Covid-19" width="50px" height="50px"></a>
                </figure>
                <h1>Covid-19</h1>
            </header>
    
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sinto.html">Sintomas</a></li>
                    <li><a href="preve.html">Prevenção</a></li>
                    <li><a href="trans.html">Transmissão</a></li>
                    <li><a href="estat.html">Estatisticas</a></li>
                </ul>
            </nav>
        </div>

        <main>
            <section>
                <h2 id="oquecorona">O que é o Coronavirus?</h2>

                <br><br>
                <p>
                    Coronavírus é uma família de vírus que causam infecções respiratórias. O novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China. Provoca a doença chamada de coronavírus (COVID-19).

                    <br><br> primeiros coronavírus humanos foram isolados pela primeira vez em 1937. No entanto, foi em 1965 que o vírus foi descrito como coronavírus, em decorrência do perfil na microscopia, parecendo uma coroa.
                    
                    <br><br> maioria das pessoas se infecta com os coronavírus comuns ao longo da vida, sendo as crianças pequenas mais propensas a se infectarem com o tipo mais comum do vírus. Os coronavírus mais comuns que infectam humanos são o alpha coronavírus 229E e NL63 e beta coronavírus OC43, HKU1.
                </p>

                <img src="../static/img/coronavirusbe.jpg" alt="">
                    <br><br>
                <h2 id="oquecovid-19">O que é o COVID-19?</h2>
                <br><br>
                <p>
                    A COVID-19 é uma doença causada pelo coronavírus SARS-CoV-2, que apresenta um quadro clínico que varia de infecções assintomáticas a quadros respiratórios graves. De acordo com a Organização Mundial de Saúde (OMS), a maioria dos pacientes com COVID-19 (cerca de 80%) podem ser assintomáticos e cerca de 20% dos casos podem requerer atendimento hospitalar por apresentarem dificuldade respiratória e desses casos aproximadamente 5% podem necessitar de suporte para o tratamento de insuficiência respiratória (suporte ventilatório).
                </p>

                <img src="../static/img/covid-19.jpg" alt="">
                <br><br>
                <h2 id="historia">Historia do Virus:</h2>
                <br><br>
                <p>

                </p>
                <br><br>
                <h2 id="primere">Primeiros relatos:</h2>
                <br><br>
                <p>

                </p>
                <br><br>
            </section>

            <aside>
                <ul>
                    <li><a href="#oquecorona">O que é o Coronavirus.</a></li>
                    <li><a href="#oquecovid-19">O que é o COVID-19</a></li>
                    <li><a href="#historia">Historia do Virus</a></li>
                    <li><a href="#primere">Primeiros relatos</a></li>
                </ul>
            </aside>
        </main>

        <footer>
            <p>Copyright &copy; Beatriz, Glaucia, Julio e Pedro.</p>
        </footer>

    </body>
</html>