<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/sobre.css">

        <title>Sobre o Virus | Covid-19</title>
    </head>
    <body>

        <div>
            <header>
                <figure>
                    <a href="index.html"><img src="../static/img/—Pngtree—cartoon ban corona virus illustration_5324392.png" alt="Covid-19" width="50px" height="50px"></a>
                </figure>
                <h1 id="top">Covid-19</h1>
            </header>
    
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sinto.html">Sintomas</a></li>
                    <li><a href="preve.html">Prevenção</a></li>
                    <li><a href="trans.html">Transmissão</a></li>
                    <li><a href="estat.html">Estatisticas</a></li>
                </ul>
            </nav>
        </div>

        <main>

            <section>
                <h1 style="text-align: center;">Informações sobre o Vírus:</h1> <br><br>

                <h2 id="oquecorona">O que é o Coronavirus?</h2>

                <br><br>
                <p>
                    Coronavírus é uma família de vírus que causam infecções respiratórias. O novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China. Provoca a doença chamada de coronavírus (COVID-19).

                    <br><br> primeiros coronavírus humanos foram isolados pela primeira vez em 1937. No entanto, foi em 1965 que o vírus foi descrito como coronavírus, em decorrência do perfil na microscopia, parecendo uma coroa.
                    
                    <br><br> maioria das pessoas se infecta com os coronavírus comuns ao longo da vida, sendo as crianças pequenas mais propensas a se infectarem com o tipo mais comum do vírus. Os coronavírus mais comuns que infectam humanos são o alpha coronavírus 229E e NL63 e beta coronavírus OC43, HKU1.
                </p>

                <img src="../static/img/coronavirusbe.jpg" alt="">
                    <br><br>
                <h2 id="oquecovid-19">O que é o COVID-19?</h2>
                <br><br>
                <p>
                    A COVID-19 é uma doença causada pelo coronavírus SARS-CoV-2, que apresenta um quadro clínico que varia de infecções assintomáticas a quadros respiratórios graves. De acordo com a Organização Mundial de Saúde (OMS), a maioria dos pacientes com COVID-19 (cerca de 80%) podem ser assintomáticos e cerca de 20% dos casos podem requerer atendimento hospitalar por apresentarem dificuldade respiratória e desses casos aproximadamente 5% podem necessitar de suporte para o tratamento de insuficiência respiratória (suporte ventilatório).
                </p>

                <img src="../static/img/covid-19.jpg" alt="">
                <br><br>

                <h2 id="primere">Primeiros relatos da Covid-19:</h2>
                <br><br>
                <p>
                    A OMS emitiu o primeiro alerta para a doença em 31 de dezembro de 2019, depois que autoridades chinesas notificaram casos de uma misteriosa pneumonia na cidade de Wuhan,
                    metropole chinesa com 11 milhões de habitantes, sétima maior cidade da China e a número 42 do mundo. O tamanho é compararvel com a cidade de São Paulo, que tem mais de 12 milhões de habitantes.

                    <br><br>
                    O surto inicial atingiu pessoas que tiveram alguma associação a um mercado de frutos do mar em Wuhan - o que despertou a suspeita de transmissõa desta variação de coronavírus ocorreu entre animais marinhos e humanos. 
                    O mercado foi fexhado para limpeza e desinfecção.
                </p>

                <img src="../static/img/ap20020123208160.jpg" alt="Mercado de animais silvestres em Wuhan" width="730px" height="435px">

                <br><br>

                <h2 id="historia">Origem evolutiva dos coronavírus humanos:</h2>
                <br><br>
                <p>
                    Existem sete cepas conhecidas de coronavírus humanos, e todas elas evoluíram de coronavírus de outros animais. <br><br>

                    June Almeida descobriu o primeiro coronavírus humano no St Thomas' Hospital em Londres em 1964.
                </p>

                <br><br>

                <table border="1">

                    <caption>Virus humanos da familia coronavírus</caption>

                    <thead>
                        <tr>
                            <th>Nome da cepa:</th>
                            <th>Descoberta:</th>
                            <th>Origem evolutiva:</th>
                            <th>Doença causada:</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <th>HCoV-229E</th>
                            <th>1960</th>
                            <th>O coronavírus humano 229E divergiu do coronavírus da alpaca antes de 1960</th>
                            <th>Resfriado comum. </th>
                        </tr>


                        <tr>
                            <th>SARS-Cov</th>
                            <th>2002</th>
                            <th>O coronavírus humano SARS divergiu do coronavírus de morcego em 1986</th>
                            <th>Doença SARS.</th>
                        </tr>
    
                        <tr>
                            <th>HcoV-OC43</th>
                            <th>2004</th>
                            <th>O coronavírus humano OC43 divergiu do coronavírus bovino em 1890</th>
                            <th>Resfriado comum</th>
                        </tr>
    
                        <tr>
                            <th>HCoV-NL63</th>
                            <th>2004</th>
                            <th>O coronavírus humano NL63 divergiu do coronavírus de morcego 822 anos atrás</th>
                            <th>Resfriado comum</th>
                        </tr>
    
                        <tr>
                            <th>HCoV-HKU1</th>
                            <th>2005</th>
                            <th>O coronavírus humano HKU1 divergiu do coronavírus de morcego</th>
                            <th>Resfriado comum</th>
                        </tr>
    
                        <tr>
                            <th>MERS-CoV</th>
                            <th>2012</th>
                            <th>O coronavírus humano MERS divergiu do coronavírus de morcego antes dos anos 90 e transmitido aos humanos pelos camelos</th>
                            <th>Doença MERS</th>
                        </tr>
    
                        <tr>
                            <th>SARS-CoV-2</th>
                            <th>2019</th>
                            <th>1 - Um estudo genético inicial sugeriu que o SARS-CoV-2 tenha divergido do coronavírus de cobras. Porém, cientistas questionaram a possível origem. <br><br>

                                2 - Estudos posteriores sugeriram que o vírus tenha divergido da versão que parasita morcegos e transmitido aos humanos por um animal ainda desconhecido. <br><br>
                                
                                3 - Estudos recentes indicam que o vírus tenha divergido da versão que parasita pangolins pois possui material genético 99% igual ao do vírus encontrado neste animal. </th>
                            <th>Doença Covid-19</th>
                        </tr>
                    </tbody>

                </table>


                <br><br>
                <p>
                    Foram descobertos em 2020, seis novos coronavírus em morcegos em Mianmar, mas esses vírus não estão relacionados ao Síndrome Respiratório Agudo Grave de Coronavírus (SARS CoV-1), Síndrome Respiratória do Oriente Médio (MERS) ou COVID-19.
                </p>

                <br><br>

                <h2 id="sarscov2">Informações Tecnicas sobre o SARS-CoV-2</h2>
                <br><br>
                <p>
                    Coronavírus - Vírus da família Coronaviridae causam uma variedade de doenças no homem e nos animais, especialmente no trato respiratório. As partículas virais são esféricas, com cerca de 125 nm de diâmetro e revestidas por um envelope fosfolipídico. O genoma de RNA de fita simples e senso positivo contém entre 26 a 32 quilobases e está associado a proteínas, formando o nucleocapsídeo. As partículas apresentam projeções que emanam do envelope em forma de espículas, formadas por trímeros da proteína S (spike protein). Essas projeções geram um aspecto de coroa, daí a denominação coronavírus. A proteína S é responsável pela adesão do vírus nas células do hospedeiro e participa do processo de interiorização, no qual ocorre a fusão entre as membranas viral e da célula e a entrada do vírus no citoplasma. <br><br>

                    No caso do Sars-CoV-2, causador da atual pandemia de covid-19, a proteína S reconhece através de seu domínio ligante do receptor (RBD) o receptor ACE2 (enzima conversora de angiotensina 2) da célula.
                </p>

                <br><br>

                <div>
                    <img src="../static/img/250px-Vis2.jpg" alt="" height="250px">
                    <img src="../static/img/origem-coronavirus.jpg" alt="Estrutura de uma partícula viral de um coronavírus - imagem: ViralZone">
                </div>

            </section>
<!--
            <aside>
                <ul>
                    <li><a href="#oquecorona">O que é o Coronavirus.</a></li>
                    <li><a href="#oquecovid-19">O que é o COVID-19</a></li>
                    <li><a href="#primere">Primeiros relatos</a></li>
                    <li><a href="#historia">Origem evolutiva dos coronavírus humanos</a></li>
                    <li><a href="#sarscov2">Informações Tecnicas sobre o SARS-CoV-2</a></li>
                </ul>
            </aside>
        -->            
        </main>

        <footer>
            <p>Copyright &copy; Beatriz, Glaucia, Julio e Pedro.</p>

        </footer>

        <p id="volteotopo"><a href="#top">Voltar o topo</a></p>

    </body>
</html>