<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/trans.css">

        <title>Transmissão | Covid-19</title>
    </head>
    <body>

        <div>
            <header>
                <figure>
                    <a href="index.html"><img src="../static/img/—Pngtree—cartoon ban corona virus illustration_5324392.png" alt="Covid-19" width="50px" height="50px"></a>
                </figure>
                <h1>Covid-19</h1>
            </header>
    
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sobre.html">Sobre o Virus</a></li>
                    <li><a href="sinto.html">Sintomas</a></li>
                    <li><a href="preve.html">Prevenção</a></li>
                    <li><a href="estat.html">Estatisticas</a></li>
                </ul>
            </nav>
        </div>

        <main>
            
        </main>

        <footer>
            <p>Copyright &copy; Beatriz, Glaucia, Julio e Pedro.</p>
        </footer>

        <p id="volteotopo"><a href="#top">Voltar o topo</a></p>

    </body>
</html>